<div class='search-form mt-4'>
  <form method='post'>
    <div class='form-group'>
      <label for='input-search'>Keys</label>
      <input type='text' name='q' class='form-control' id='input-search' placeholder='Text...' />
    </div>
    <button type='submit' class='btn btn-primary'>Search</button>
  </form>
</div>